* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Montserrat, sans-serif;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

@media (max-width: 1024px) {
    .center {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (max-width: 768px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (hover: none) and (pointer: coarse) {
    .header__btn--go:hover,
    .header__btn-link:hover,
    .mini-games__btn--go:hover,
    .mini-games__btn-link:hover {
        background-color: #202027;
        color: #ffffff;
    }
}

span {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}

@media (max-width: 768px) {
    span {
        font-size: 18px;
        line-height: 24px;
    }
}

.header {
    position: relative;
    background-color: #E1FF8F;
    overflow: hidden;

    &__title {
        position: relative;
        z-index: 2;
        padding: 196px 0 24px;
        font-weight: 700;
        font-size: 64px;
        line-height: 100%;
    }

    &__description {
        position: relative;
        z-index: 2;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        padding-bottom: 48px;
    }

    &__btn {
        position: relative;
        z-index: 2;
        padding-bottom: 246px;
    }
    
    &__btn--go {
        min-width: 247px;
        min-height: 66px;
        max-height: 66px;
        border: 1px solid transparent;
        border-radius: 60px;
        padding: 0;
        background-color: #202027;
        cursor: pointer;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;

        &:hover {
            background-color: #fff;
            border-color: #202027;
            color: #202027;
        }
    }

    &__btn-link {
        text-decoration: none;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 16px 28px;
        border-radius: 60px;
        font-family: Montserrat;
        font-weight: 600;
        font-size: 24px;
        line-height: 142%;
        text-align: center;
        &:link,
        &:visited,
        &:active,
        &:focus {
            text-decoration: none;
            color: #ffffff;
        }
        &:hover {
            color: #202027;
        }
    }

    &__star {
        z-index: 1;
    }
    &__star1 {
        position: absolute;
        top: 69px;
        left: 156px;
    }

    &__star2 {
        position: absolute;
        top: 94px;
        left: 63px;
    }

    &__star3 {
        position: absolute;
        bottom: 225px;
        right: 455px;
    }

    &__star4 {
        position: absolute;
        bottom: 149px;
        right: 344px;
    }

    &__bigstar {
        position: absolute;
        top: 0;
        right: 0;
    }

    &__star1Mob,
    &__star2Mob,
    &__star3Mob,
    &__star4Mob,
    &__bigstarMob {
        display: none;
    }

     @media (max-width: 1024px) {
        &__title {
            font-size: 48px;
            padding: 120px 0 20px;
        }

        &__description {
            font-size: 20px;
            line-height: 28px;
            padding-bottom: 40px;
        }

        &__btn {
            padding-bottom: 120px;
        }

    }

     @media (max-width: 768px) {

        &__bigstar, 
        &__star1,
        &__star2,
        &__star3,
        &__star4 {
            display: none;
        }
        &__star1Mob,
        &__star2Mob,
        &__star3Mob,
        &__star4Mob,
        &__bigstarMob {
            display: flex;
            position: absolute;
        }

        &__star1Mob {
            top: 64px;
            left: 91px;
        }

        &__star2Mob {
            top: 97px;
            left: 37px;
        }

        &__star3Mob {
            bottom: 125px;
            right: 86px;
        }

        &__star4Mob {
            bottom: 79px;
            right: 34px;
        }

        &__bigstarMob {
            right: 0;
        }

        &__title {
            font-size: 40px;
            padding: 147px 0 16px;
            text-align: center;
        }

        &__description {
            font-size: 16px;
            margin-bottom: 36px;
            text-align: center;
        }

        &__btn {
            padding-bottom: 182px;
            display: flex;
            justify-content: center;
        }

        &__btn--go {
            min-width: 285px;
            min-height: 56px;
            max-height: 56px;
        }

        &__btn-link {
            font-size: 18px;
            padding: 12px 24px;
        }
    }

}

.page-wrapper {
    background-color: #202027;
    min-height: 100vh;
    position: relative;
    padding-bottom: 144px;
    z-index: 0;

    &__bigstar {
        position: absolute;
        top: 77px;
        right: -40px;
        z-index: 1;
        pointer-events: none;
    }

    &__star1 {
        position: absolute;
        top: 770px;
        left: 25px;
        z-index: 1;
        pointer-events: none;
    }

    &__star2 {
        position: absolute;
        top: 822px;
        left: 40px;
        z-index: 1;
        pointer-events: none;
    }

    &__star3 {
        position: absolute;
        top: 1563px;
        right: 123px;
        z-index: 1;
        pointer-events: none;
    }

    &__star4 {
        position: absolute;
        top: 1596px;
        right: 44px;
        z-index: 1;
        pointer-events: none;
    }

    &__star5 {
        position: absolute;
        bottom: 65px;
        right: 52px;
        z-index: 1;
        pointer-events: none;
    }

    &__star6 {
        position: absolute;
        bottom: 45px;
        right: 150px;
        z-index: 1;
        pointer-events: none;
    }
    @media (max-width: 768px) {
        padding-bottom: 10px;

        &__bigstar, 
        &__star1,
        &__star2,
        &__star3,
        &__star4,
        &__star5,
        &__star6 {
            display: none;
        }
    }
}

.about-games {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #202027;
    padding: 94px 0 50px;
    position: relative;

    &__images {
        width: 100%;
        height: auto;
        object-fit: contain;
        border-radius: 40px 40px 0 0;
    }

    &__title {
        font-weight: 700;
        font-size: 64px;
        line-height: 100%;
        color:#ffffff;
        margin-bottom: 24px;
    }

    &__description {
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color:#ffffff;
        margin-bottom: 72px;
    }

    &__table {
        column-count: 3;
        column-gap: 32px;
    }

    &__game-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #ffffff;
        border-radius: 40px;
        margin: 0 0 32px;
        break-inside: avoid;
        width: 100%;
        height: auto;
        max-height: none;
        text-decoration: none;
        transition: transform 0.3s ease;
        position: relative;
        z-index: 2;

        &:hover {
        transform: scale(1.05);
        }

        &:nth-child(1) { min-height: 473px; }
        &:nth-child(2) { min-height: 551px; }
        &:nth-child(3) { min-height: 512px; }
        &:nth-child(4) { min-height: 512px; }
        &:nth-child(5) { min-height: 473px; }
        &:nth-child(6) { min-height: 551px; }
    }
    
    
    &__game-number {
        color: #202027;
        font-weight: 500;
        font-size: 16px;
        line-height: 110%;
        margin: 32px 0 16px 32px;
    }

    &__game-title {
        color: #202027;
        font-weight: 700;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: 0px;
        margin: 0 0 36px 32px;
        flex: 1;
    }

    &__btn  {
        display: none;
    }

    @media (max-width: 1024px) {
        padding: 60px 40px 40px;

        &__title {
            font-size: 48px;
            margin-bottom: 20px;
        }

        &__description {
            font-size: 20px;
            line-height: 28px;
            margin-bottom: 48px;
        }

        &__table {
            column-count: 2;
            column-gap: 24px;
        }

        &__game-card {
            margin: 0 0 24px;
            border-radius: 32px;

            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6) {
                min-height: auto;
            }
        }

        &__game-number {
            margin: 24px 0 12px 24px;
        }

        &__game-title {
            font-size: 28px;
            margin: 0 0 24px 24px;
        }

        &__images {
            border-radius: 32px 32px 0 0;
        }
    }

    @media (max-width: 768px) {
        display: none;
    }
        
}
.mini-games {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    &__title {
        color: #ffffff;
        font-weight: 700;
        font-size: 64px;
        line-height: 100%;
        padding-bottom: 72px;     
    }

    &__game-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: start;
        background-color: #fff;
        border-radius: 40px;
        overflow: hidden;
        margin-bottom: 32px;
        position: relative;
        z-index: 2;
    }

    &__game-left {
        grid-template-areas: "image content";
    }

    &__game-right {
        grid-template-areas: "content image";
    }

    &__images {
        grid-area: image;
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    &__content {
        grid-area: content;
        padding: 48px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__game-title {
        font-weight: 700;
        font-size: 48px;
        line-height: 100%;
        margin-bottom: 24px;
        color: #202027;
    }

    &__game-description {
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color: #202027;
    }

    &__btn--go {
        margin-top: 36px;
        max-width: 247px;
        min-height: 66px;
        max-height: 66px;
        border: 1px solid transparent;
        border-radius: 60px;
        padding: 0;
        background-color: #202027;
        cursor: pointer;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;

        @media (min-width: 769px) {
            &:hover {
                background-color: #fff;
                border-color: #202027;
                color: #202027;
            }
        }       
    }


    &__btn-link {
        text-decoration: none;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 16px 28px;
        border-radius: 60px;
        font-family: Montserrat;
        font-weight: 600;
        font-size: 24px;
        line-height: 142%;
        text-align: center;
        &:link,
        &:visited,
        &:active,
        &:focus {
            text-decoration: none;
            color: #ffffff;
        }

        @media (min-width: 769px) {
            &:hover {
                color: #202027;
            }
        }
    }

    @media (max-width: 768px) {

        &__title {
            padding: 48px 0 48px;
        }
        
        &__game-card,
        &__game-left,
        &__game-right {
            grid-template-columns: 1fr;
            grid-template-areas: 
                "image"
                "content";
            border-radius: 24px;
        }

        &__game-title {
            font-size: 32px;
            text-align: center;
            margin-bottom: 16px;
        }

        &__game-description {
            font-size: 16px;
            line-height: 100%;
            text-align: center;
        }

        &__content {
            padding: 48px 16px;
            align-items: center;
        }

        &__images {
            max-height: 300px;
            object-fit: cover;
            background-color: #f5f5f5;
        }

        &__btn--go {
            margin-top: 32px;
            min-width: 285px;
        }
    }
}

.footer {
    min-height: 150px;
    background-color: #BDED35;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &__rights {
        font-weight: 600;
        font-size: 24px;
        line-height: 100%;
        text-align: center;
    }

    @media (max-width: 768px) {
        font-size: 16px;
    }
}
