* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
span {
    font-weight: 600;
    font-style: SemiBold;
    font-size: 24px;
    line-height: 32px;
    vertical-align: middle;
}

.page-wrapper {
    background-color: #202027;
    min-height: 100vh;
}

.header {
    position: relative;
    background-color: #E1FF8F;


    &__title {
        position: relative;
        z-index: 2;
        padding: 196px 0 24px;
        font-weight: 700;
        font-style: Bold;
        font-size: 64px;
        line-height: 100%;
        vertical-align: middle;
    }

    &__description {
        position: relative;
        z-index: 2;
        font-weight: 400;
        font-style: Regular;
        font-size: 24px;
        line-height: 32px;
        vertical-align: middle;
        padding-bottom: 48px;
    }

    &__btn {
        position: relative;
        z-index: 2;
        padding-bottom: 246px;
    }
    
    &__btn--go {
        min-width: 247px;
        min-height: 66px;
        max-height: 66px;
        border: 1px solid transparent;
        border-radius: 60px;
        padding: 0;
        background-color: #202027;
        cursor: pointer;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    } 

    &__btn-link {
        text-decoration: none;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 16px 28px;
        border-radius: 60px;
        font-family: Montserrat;
        font-weight: 600;
        font-size: 24px;
        line-height: 142%;
        text-align: center;
        &:link,
        &:visited,
        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
            color: #ffffff;
        }
    }

    &__star {
        z-index: 1;
    }
    &__star1 {
        position: absolute;
        top: 69px;
        left: 156px;
    }

    &__star2 {
        position: absolute;
        top: 94px;
        left: 63px;
    }

    &__star3 {
        position: absolute;
        bottom: 225px;
        right: 455px;
    }

    &__star4 {
        position: absolute;
        bottom: 149px;
        right: 344px;
    }

    &__bigstar {
        position: absolute;
        top: 0;
        right: 0;
    }

}
.about-games {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #202027;
    padding: 94px 0 50px; 

    &__images {
        width: 100%;
        height: auto;
        object-fit: contain;
        border-radius: 40px 40px 0 0;
    }

    &__title {
        font-weight: 700;
        font-style: Bold;
        font-size: 64px;
        line-height: 100%;
        vertical-align: middle;
        color:#ffffff;
        margin-bottom: 24px;
    }

    &__description {
        font-weight: 400;
        font-style: Regular;
        font-size: 24px;
        line-height: 32px;
        vertical-align: middle;
        color:#ffffff;
        margin-bottom: 72px;
    }

    &__table {
        column-count: 3;
        column-gap: 32px;
    }

    &__game-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #ffffff;
        border-radius: 40px;
        margin: 0 0 32px;
        break-inside: avoid-column;
        break-inside: avoid;
        page-break-inside: avoid;
        width: 100%;
        height: auto;
        max-height: none;
        text-decoration: none;
        transition: transform 0.3s ease;

        &:hover {
        transform: scale(1.05);
        }

        &:nth-child(1) { min-height: 473px; }
        &:nth-child(2) { min-height: 551px; }
        &:nth-child(3) { min-height: 512px; }
        &:nth-child(4) { min-height: 550px; }
        &:nth-child(5) { min-height: 473px; }
        &:nth-child(6) { min-height: 551px; }
    }
    
    
    &__game-number {
        color: #202027;
        font-weight: 500;
        font-size: 16px;
        line-height: 110%;
        vertical-align: bottom;
        margin: 32px 0 16px 32px;
    }

    &__game-title {
        color: #202027;
        font-weight: 700;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: 0px;
        vertical-align: middle;
        margin: 0 0 36px 32px;
        flex: 1;
    }
}
